html,body{
  width: 100%;
  height: 100%;
  text-align: center;
  min-width: 777px;  
}

body{  
  overflow-y: scroll;
}

.main-content{
  width: 100%;
}

.frontpage{
  font-size: 16px;
  text-align: left;
  padding: 20px;
}

.about-content{
  text-align: left;
  padding: 0px 30px;
}


body::after {
  content: "";
  opacity: 0.95;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
  background: url(/images/background-small.jpg);
  background-size: cover;
}


.infobox{
  background-color: white;
  display: inline-block;
  float: none;  
  border-radius: 5px;
  margin: 20px;
  min-height: 500px;
  vertical-align: top;
}

.infobox h1{
    background-color: #C12A2A;
    width: calc(100% + 40px);
    margin-left: -20px;
    border-radius: 5px;
    color: #FFDBDB;    
    padding: 20px 0px;
    margin-top: 0px;
    text-align: center;
}


nav.navbar-default{
  background-color: rgba(0,0,0,0.65);
  border-color: initial;
  border: none;
  border-bottom: 10px #222;
  border-radius: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.navbar .navbar-collapse{
  text-align: center;
}

nav.navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
}

.navbar .navbar-collapse .navbar-nav{ 
  float: none;
  display: inline-block;
}

.pre-slide-in-bottom{
  /*margin-top: 100%;*/
  transform: translateY(100%);
  position: absolute;  
}

.pre-slide-in-top{
  /*margin-top: -100%;*/
  transform: translateY(-100%);
  position: absolute;  
}

.slide-in{
  transition: 1.5s;
  /*margin-top: 0px;*/
  transform: translateY(0%);
}


nav.navbar-default .navbar-nav > .active > a, nav.navbar-default .navbar-nav > .active > a:hover, nav.navbar-default .navbar-nav > .active > a:focus{
  background: transparent;
}

nav *:focus, nav *:hover{
  background: initial !important;
}
nav a{
  outline: 0 !important;
}

@media (min-width: 768px){
  .navbar .navbar-collapse, nav .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .navbar-nav > li {
      float: left;
      margin: 30px 5px 0px 5px;
      padding: 0px 10px;
      height: 80px;
  }
  .navbar-nav * {
    transition: 0.2s;
  }
  
  .navbar-nav .glyphicon{
    transition: none;
  }
  
  .navbar-nav .glyphicon-folder-open{
    margin-right: 9px;
  }
  
  .navbar .navbar-nav > li > a{
    color: white;
    font-size: 18px;
  }
  
  .navbar .navbar-nav > li > a:hover {
    margin-top: -5px;
    color: white;
  }
  
  .navbar .navbar-nav > li:hover{
  }
  
  .navbar .navbar-nav > li.active > a {
      background-color: inherit;
      color: white;
      font-size: 18px;
      border-bottom: 1px solid white;
  }
  .navbar .navbar-nav > li.active > a:hover{
    background: inherit;
    color: white;
  }
  
  .main-content{
    margin-top: 120px
  }
}

@media (min-width: 1315px){
  .navbar-nav > li {
      float: left;
      margin: 50px 25px 0px 25px;
      padding: 0px 10px;
      height: 120px;
  }
  .navbar-nav * {
    transition: 0.2s;
  }
  
  .navbar-nav .glyphicon{
    transition: none;
  }
  
  .navbar-nav .glyphicon-folder-open{
    margin-right: 9px;
  }
  
  .navbar .navbar-nav > li > a{
    color: white;
    font-size: 30px;
  }
  
  .navbar .navbar-nav > li > a:hover {
    margin-top: -5px;
    color: white;
  }
    
  .navbar .navbar-nav > li.active > a {
      background-color: inherit;
      color: white;
      font-size: 30px;
      border-bottom: 1px solid white;
  }
  .navbar .navbar-nav > li.active > a:hover{
    background: inherit;
    color: white;
  }  
  .main-content{
    margin-top: 180px
  }
}


.navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav>.active>a {
  background-color: initial;
  color: white;
}


.contact{
  text-align: left;
}

.contact form{
  padding: 10px;
}

.contact textarea{
  min-height: 155px;
  resize: none;
}

.contact button{    
  float: left;
  margin-right: 10px;  
}

@media min-width(768px) .contact-info{
  margin-right: 100px;
}

.contact-info img{
  height: 175px;
}

.contact-info-inner{
    display: table;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.contact-info .contact-info-inner > * {
    text-align: left;
    margin: 10px 15px;
    float: left;
}

.contact-info .contact-info-inner > .email{
  clear: both;
}

@media max-width(900px) .contact-info{
  display: table-caption;
}

#cv .address, #cv .phone, #cv .email{
  display: inline-block;
  vertical-align: top;
  margin: 0px 15px;
  margin-top: 10px;
  text-align: left;
}

#cv hr{
  border-color: #222;
}
/*
@media(max-width 646px){
  #cv .phone{
    padding-right: 50px;
  }
}
@media(min-width: 647px){
  #cv .address{
    padding-left: 20px;
  }
}*/

#cv h4{
  font-weight: 700;
}

#cv span{
  font-size: 16px;
}

#cv a .glyphicon{
  font-size: 20px;
}

#cv h4.cv-title{
  float: left;
}

#cv .job-list{
  clear: both;
}

#cv .period{
  float: left;
  width: 20%;
  text-align: left;
}

#cv .period, #cv .big-section{
  margin-left: 5%;
}

#cv .description{
  float: right;
  text-align: left;
  width: 60%;
}

#cv .job{
  padding-top: 15px;
}

#cv .job, #cv .job-list + *{
  clear: both;
}

#cv .big-section{
  padding-top: 25px;
  text-align: left;
}

@media(min-width: 854px){
  #cv-inner{
    padding: 0px 0px;
  }
}

.spacing{
  padding: 10px 0px;
}

#cv img{
  width: 25%;
}

@media(min-width: 961px){
  #cv-inner{
    padding: 0px 50px;
  }
}

@media(min-width: 1261px){
  #cv-inner{
    padding: 0px 50px;
  }
}

@media(min-width: 1440px){
  #cv-inner{
    padding: 0px 75px;
  }
}

@media(min-width: 1610px){
  #cv-inner{
    padding: 0px 100px;
  }
}

@media(max-width: 985px){
  #cv h4{
    font-size: 28px;
  }
  html, body{
    font-size: 18px;
  }
}

.infobox.skills{
  height: 500px;
}

#skill-chart{
  width: 100%;
  height: calc(100% - 104px); 
  overflow: hidden;
}

.skills #left-arrow, .skills #right-arrow{
  height: 64px;
  width: 32px;
  top: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}

.skills #left-arrow{
  left: 0;
  border-right: 28px solid black;
  border-bottom: 32px solid transparent;
  border-top: 32px solid transparent;
}

.skills #right-arrow{
  right: 0;
  border-left: 28px solid black;
  border-bottom: 32px solid transparent;
  border-top: 32px solid transparent;
}

.progress{
  margin-top: 22px;
}

.status-bar p{
  font-size: 20px;
  font-weight: bold;    
  display: inline-block;
  text-align: center;
  width: 100%;
}

.status-bar p.has-success{
  color: #3c763d;
}

.status-bar p.has-error{
  color: #a94442;
}

.status-bar.loading{
  margin-top: 22px;
  padding-right: 80px;
}