<!DOCTYPE html>
<html>
	<head>
    {{include head.html}}
	</head>

	<body>
    {{include menu.html}}
    <div class="main-content">
      <div class="infobox col-xs-10 col-sm-10 col-md-10 col-lg-3">
        <h1><span data-string="about">About</span></h1>
        <div class="about-content">
          <h3>Who am I?</h3>
          <p>
            My name is Johan and I'm a 24-year old swede who is passionate about everything related to software development and web development in particular. I'm a quick learner and always stay up to date on recent changes in technology. 
            I love building products that solve real, human problems.
          </p>
          <p>
          <h3>Get in touch</h3>
            <a href="mailto:johan@jkarlsson.eu">E-mail</a><br><br>
            <a href="//github.com/johka885">GitHub</a><br><br>
            <a href="http://stackoverflow.com/users/4059974">
              <img src="http://stackexchange.com/users/flair/5057044.png" width="208" height="58" alt="profile for Johan Karlsson on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Johan Karlsson on Stack Exchange, a network of free, community-driven Q&amp;A sites">
            </a>
          </p>
        </div>
      </div>
      <div class="infobox skills col-xs-10 col-sm-10 col-md-10 col-lg-7">
        <h1><span data-string="skills">Skills</span></h1>
        <div id="skill-chart"></div>    
        <div id="left-arrow"></div>
        <div id="right-arrow"></div>
      </div>
      <script>
        function htmlDecode(input){
          var e = document.createElement('div');
          e.innerHTML = input;
          return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }
        
        var options = htmlDecode("{{=options}}");
          var scripts = document.getElementsByTagName( 'script' );
          var me = scripts[ scripts.length - 1 ];
        var f = function(){ $(me).parent().find("#skill-chart").bars(JSON.parse(options)); translate();};
        setTimeout(f, 300);
        
      </script>
    </div>
	</body>
</html>