<div class="infobox col-xs-8 col-sm-5 col-md-4 col-lg-3 contact-info"> 
  <h1 data-string="contact-information">Contact information</h1>  
  
  <img src="http://www.engr.uconn.edu/~gelyko/images/people_pic/anonymous.png">
  <h3>Johan Karlsson</h3>
  <div class="contact-info-inner">
    <div class="address">
      <b data-string="address">Address:</b>  <br>
      Nyponstigen 6  <br>
      590 44 Rimforsa <br>
      Sweden
    </div>
    
    <div class="phone">
      <b data-string="phone">Phone:</b><br>
      +46 736 509 083
    </div>          
    
    <div class="email">
      <b data-string="email">Email:</b><br>
      johka885(a)student.liu.se
    </div>
  </div>
</div>