<div class="infobox col-xs-8 col-sm-5 col-md-4 col-lg-3 contact-info"> 
  <h1 data-string="contact-information">Contact information</h1>  
  
  <img src="http://www.engr.uconn.edu/~gelyko/images/people_pic/anonymous.png">
  <h3 data-string="full-name">Johan Karlsson</h3>
  <div class="contact-info-inner">
    <div class="address">
      <b><span data-string="address">Address</span>:</b>  <br>
      <span data-string="address-street">Nyponstigen 6</span>  <br>
      <span data-string="address-postal">590 44 Rimforsa</span> <br>
      <span data-string="address-country">Sweden</span>
    </div>
    
    <div class="phone">
      <b><span data-string="phone">Phone</span>:</b><br>
      <span data-string="phone-number">+46 736 509 083</span>
    </div>          
    
    <div class="email">
      <b><span data-string="email">Email:</span>:</b>  <br>
      <a href="mailto:johan@jkarlsson.eu"><span data-string="my-email"></span></a>
    </div>
  </div>
</div>