<!DOCTYPE html>
<html>
	<head>
    {{include head.html}}
	</head>

	<body>
    {{include menu.html}}
    <div class="main-content">         
      <div id="cv" class="infobox col-xs-10 col-sm-10 col-md-8 col-lg-6">
        <h1>Curriculum Vitae</h1>
        <div id="cv-inner">
          <hr>
          
          <img src="http://www.engr.uconn.edu/~gelyko/images/people_pic/anonymous.png">
          <h4>Johan Karlsson</h4>
          <div class="address">
            <b><span data-string="address">Address</span>:</b>  <br>
            <span data-string="address-street">Nyponstigen 6</span>  <br>
            <span data-string="address-postal">590 44 Rimforsa</span> <br>
            <span data-string="address-country">Sweden</span>
          </div>
    
          <div class="phone">
            <b><span data-string="phone">Phone</span>:</b><br>
            <span data-string="phone-number">+46 736 509 083</span>
          </div>          
    
          <div class="email">
            <b><span data-string="email">Email:</span>:</b>  <br>
            <span data-string="my-email">johan@j-karlsson.se</span>
          </div>
        <hr>
        
        <h4 class="cv-title"><span data-string="work-experience">Work experience</span></h4>
        
        <div class="job-list">          
          <div class="job">
            <div class="period"><b><span data-string="june">June</span> 2013 – <br><span data-string="jan">Jan</span> 2016</b></div>
            <div class="description">
              <b><span data-string="adecco-title">Consultant, Adecco Student AB, Linköping</span></b><br>
              - <span data-string="adecco-desc-1">Working with daily production of confectionery</span><br>
              - <span data-string="adecco-desc-2">Assembling web cameras and other electronics</span><br>
            </div>
          </div>
          <div class="job">
            <div class="period"><b><span data-string="aug">Aug</span> 2011 – <br><span data-string="july">July</span> 2012</b></div>
            <div class="description">
              <b><span data-string="venezia-title">Telemarketing agent, Venezia Personal AB, Linköping</span></b><br>
              - <span data-string="venezia-desc-1">Selling mobile cellular subscriptions by phone </span><br>
              - <span data-string="venezia-desc-2">Providing professional customer service </span><br>
              - <span data-string="venezia-desc-3">Appointed as monthly best seller several times </span><br>
            </div>
          </div>
        </div>
        <br><hr>
        
        <h4 class="cv-title">Education</h4>
        <div class="job-list">          
          <div class="job">
            <div class="period"><b>2013 – 2016</b></div>
            <div class="description">
              <b>Linköping University, Linköping, Sweden</b>
              <br>BSc in Computer Science
            </div>
          </div>
          <div class="job">
            <div class="period"><b>2007 – 2010</b></div>
            <div class="description">
              <b>Berzeliusskolan, Linköping, Sweden</b>
              <br>The Natural Sciences Programme
            </div>
          </div>
        </div>
        <br><hr>
        
        <h4 class="cv-title">Language Skills</h4>
        
        <div class="job-list">          
          <div class="job">
            <div class="period"><b>Swedish</b></div>
            <div class="description">
              Native proficiency
            </div>
          </div>
          <div class="job">
            <div class="period"><b>English</b></div>
            <div class="description">
              Full professional proficiency
            </div>
          </div>
        </div>
        
        <br><hr>
        
        <h4 class="cv-title">Computer Skills</h4>        
        <div class="job-list big-section">          
        <b>Programming languages, frameworks, techniques</b>
        <br>AJAX, Android, Bootstrap, C#, C++, CORS, CSS, Django, Express, Flask, HTML, HTTP, Java, JavaScript, JQuery, JSCoverage, JSON, LINQ, Mocha, MongoDB, MySQL, .NET, Node.js, PHP, Python, Ruby, Selenium, SSH, WPF, XML
        <div class="spacing"></div>
        
        <b>Other</b>
        <br>Linux, OS X, Windows
        <br>MS Excel, MS PowerPoint, MS Word
        </div>
        <br><hr>
    </div>
    </div>
	</body>
</html>