<!DOCTYPE html>
<html>
	<head>
    {{include head.html}}
	</head>

	<body>
    {{include menu.html}}
    <div class="main-content">         
      <div id="cv" class="infobox col-xs-10 col-sm-10 col-md-8 col-lg-6">
        <h1>Curriculum Vitae</h1>
        <div id="cv-inner">
          <hr>
          <a href="/cv-johan-karlsson.pdf" class="printable">
            <span class="glyphicon glyphicon-print"></span>
            <span data-string="printable">Click here for a printable version</span>
          </a>
          <hr>
          
          <img src="http://www.engr.uconn.edu/~gelyko/images/people_pic/anonymous.png">
          <h4>Johan Karlsson</h4>
          <div class="address">
            <b><span data-string="address">Address</span>:</b>  <br>
            <span data-string="address-street">Nyponstigen 6</span>  <br>
            <span data-string="address-postal">590 44 Rimforsa</span> <br>
            <span data-string="address-country">Sweden</span>
          </div>
    
          <div class="phone">
            <b><span data-string="phone">Phone</span>:</b><br>
            <span data-string="phone-number">+46 736 509 083</span>
          </div>          
    
          <div class="email">
            <b><span data-string="email">Email:</span>:</b>  <br>
            <span data-string="my-email">johan@j-karlsson.se</span>
          </div>
        <hr>
        <h4 class="cv-title"><span data-string="comp-skills">Technical Skills</span></h4>        
        <div class="job-list">    
        <div class="job">
          <div class="period"><b><span data-string="langs">Languages:</span></b></div>
          <div class="description">
            <span data-string="langs-content"></span>
          </div>
        </div> 
        <div class="job">
          <div class="period"><b><span data-string="frameworks">Frameworks:</span></b></div>
          <div class="description">
            <span data-string="frameworks-content"></span>
          </div>
        </div>
        <div class="job">
          <div class="period"><b><span data-string="tools">Tools:</span></b></div>
          <div class="description">
            <span data-string="tools-content"></span>
          </div>
        </div> 
        <div class="job">
          <div class="period"><b><span data-string="techniques">techs:</span></b></div>
          <div class="description">
            <span data-string="techniques-content"></span>
          </div>
        </div> 
        <div class="job">
          <div class="period"><b><span data-string="platforms">pfs:</span></b></div>
          <div class="description">
            <span data-string="platforms-content"></span>
          </div>
        </div>       
        
        <br><hr>
        
        <h4 class="cv-title"><span data-string="education">Education</span></h4>
        <div class="job-list">          
          <div class="job">
            <div class="period"><b>2013 – 2015</b></div>
            <div class="description">
              <b><span data-string="edu-1-title">Linköping University, Linköping, Sweden</span></b>
              <br><span data-string="edu-1-desc">BSc in Computer Science</span>
            </div>
          </div>
          <div class="job">
            <div class="period"><b>2007 – 2010</b></div>
            <div class="description">
              <b><span data-string="edu-2-title">Berzeliusskolan, Linköping, Sweden</span></b>
              <br><span data-string="edu-2-desc">The Natural Sciences Programme</span>
            </div>
          </div>
        </div>
        <br><hr>
        
        <h4 class="cv-title"><span data-string="work-experience">Work experience</span></h4>
        
        <div class="job-list">          
          <div class="job">
            <div class="period"><b><span data-string="june">June</span> 2013 – <br><span data-string="jan">Jan</span> 2016</b></div>
            <div class="description">
              <b><span data-string="adecco-title">Consultant, Adecco Student AB, Linköping</span></b><br>
              - <span data-string="adecco-desc-1">Working with daily production of confectionery</span><br>
              - <span data-string="adecco-desc-2">Assembling web cameras and other electronics</span><br>
            </div>
          </div>
          <div class="job">
            <div class="period"><b><span data-string="aug">Aug</span> 2011 – <br><span data-string="july">July</span> 2012</b></div>
            <div class="description">
              <b><span data-string="venezia-title">Telemarketing agent, Venezia Personal AB, Linköping</span></b><br>
              - <span data-string="venezia-desc-1">Selling mobile cellular subscriptions by phone </span><br>
              - <span data-string="venezia-desc-2">Providing professional customer service </span><br>
              - <span data-string="venezia-desc-3">Appointed as monthly best seller several times </span><br>
            </div>
          </div>
        </div>
        <br><hr>
        
        <h4 class="cv-title"><span data-string="lang-skills">Language Skills</span></h4>
        
        <div class="job-list">          
          <div class="job">
            <div class="period"><b><span data-string="lang-1-title">Swedish</span></b></div>
            <div class="description">
              <span data-string="lang-1-desc">Native proficiency</span>
            </div>
          </div>
          <div class="job">
            <div class="period"><b><span data-string="lang-2-title">English</span></b></div>
            <div class="description">
              <span data-string="lang-2-desc">Full professional proficiency</span>
            </div>
          </div>
        </div>
        
        <br><hr>        
        
    </div>
    </div>
	</body>
</html>