<!DOCTYPE html>
<html>
	<head>
    {{include head.html}}
	</head>

	<body>
    {{include menu.html}}
    <div class="main-content">         
      <div id="cv" class="infobox col-xs-10 col-sm-9 col-md-8 col-lg-7">
        <h1>Curriculum Vitae</h1>
        <div id="cv-inner">
          <hr>
          <h4>Johan Karlsson</h4>
          <div class="address">
            <b>Address:</b>
            <br>Nyponstigen 6
            <br>590 44 Rimforsa
            <br>Sweden
          </div>
          
          <div class="phone">
            <b>Phone:</b>
            <br>+46 736 509 083
          </div>
          
          <div class="email">
            <b>Email:</b>
            <br>johka885(a)student.liu.se
          </div>
        
        <hr>
        
        <h4 class="cv-title">Work experience</h4>
        
        <div class="job-list">          
          <div class="job">
            <div class="period"><b>June 2013 - Jan 2016</b></div>
            <div class="description">
              <b>Consultant, Adecco Student AB, Linköping</b>
              <br><i>Food worker and storeman</i>
              <br>As a consultant I learned to be flexible and quickly adapt to new tasks.
            </div>
          </div>
          <div class="job">
            <div class="period"><b>Aug 2011 – July 2012</b></div>
            <div class="description">
              <b>Telemarketing agent, Venezia Personal AB, Linköping</b>
              <br><i>Selling mobile cellular subscriptions by phone</i>
              <br>As a salesman I learned how to build a clients trust and also how to handle stressful situations.
            </div>
          </div>
        </div>
        <br><hr>
        
        <h4 class="cv-title">Education</h4>
        <div class="job-list">          
          <div class="job">
            <div class="period"><b>2013 – 2016</b></div>
            <div class="description">
              <b>Linköping University, Linköping, Sweden</b>
              <br>BSc in Computer Science
            </div>
          </div>
          <div class="job">
            <div class="period"><b>2007 - 2010</b></div>
            <div class="description">
              <b>Berzeliusskolan, Linköping, Sweden</b>
              <br>The Natural Sciences Programme
            </div>
          </div>
        </div>
        <br><hr>
        
        <h4 class="cv-title">Language Skills</h4>
        
        <div class="job-list">          
          <div class="job">
            <div class="period"><b>Swedish</b></div>
            <div class="description">
              Native Speaker
            </div>
          </div>
          <div class="job">
            <div class="period"><b>English</b></div>
            <div class="description">
              Fluent
            </div>
          </div>
        </div>
        
        <br><hr>
        
        <h4 class="cv-title">Programming Skills</h4>        
        <div class="job-list big-section">          
        <b>Programming languages, frameworks, techniques</b>
        <br>AJAX, Android, Bootstrap, C#, C++, CORS, CSS, Django, Express, Flask, HTML, HTTP, Java, JavaScript, JQuery, JSCoverage, JSON, LINQ, Mocha, MongoDB, MySQL, .NET, Node.js, PHP, Python, Ruby, Selenium, SSH, WPF, XML
        
        <br><br><b>Other</b>
        <br>Linux, OS X, Windows
        <br>MS Excel, MS PowerPoint, MS Word
        </div>
        <br><hr>
    </div>
    </div>
	</body>
</html>