<!DOCTYPE html>
<html>
	<head>
    {{include head.html}}
	</head>

	<body>
    {{include menu.html}}
    <div class="main-content">         
      <div class="infobox col-xs-10 col-sm-10 col-md-4 col-lg-3">
        <h1>Welcome</h1>
        <div class="frontpage">          
          <p>
            Hi,<br>My name is Johan and I'm a 24-year old swede who is passionate to everything related to web development. I'm a quick learner and always stay up to date on recent changes in technology. 
          </p>
          <p>
            On this site I will list some projects I've made together with some info about who I am and what I want to accomplish in my career.
          </p>
          <p>
             Head over to <a href="/portfolio">portfolio</a> to see some cool stuff I've made.
          </p> 
       </div>           
      </div>
    </div>
	</body>
</html>