<!DOCTYPE html>
<html>
	<head>
    {{include head.html}}
	</head>

	<body>
    {{include menu.html}}
    <div class="main-content">
      <div class="infobox col-xs-10 col-sm-4 col-md-3">
        <h1>ETTAN</h1>
      </div>
      <div class="infobox col-xs-10 col-sm-4 col-md-3">
        <h1>TVÅAN</h1>
        En jävla massa text.
        En jävla massa text.
        En jävla massa text.
        En jävla massa text.
        En jävla massa text.
        En jävla massa text.
        En jävla massa text.
        En jävla massa text.
      </div>
      <div class="infobox col-xs-10 col-sm-4 col-md-3">
        <h1>TREAN</h1>
      </div>
    </div>
	</body>
</html>