html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  color: white;
  overflow-x: hidden;
}

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  top: 0;
  /*overflow: hidden;*/
}

#gamepad {
  width: 360px;
  height: 600px;
  border: 2px solid white;
  background: white;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

#scoreboard {
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
}

#scoreboard h1 {
  font-size: 60px;
  padding: 0;
  margin: 0;
}

.score,
.level,
.hints {
  font-size: 25px;
  margin-right: 25px;
}

#next-piece,
#powerup {
  text-align: center;
}

#next-piece h2,
#powerup h2 {
  font-size: 40px;
}

#next-piece .next,
#powerup .powerup {
  border: 2px solid white;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

#next-piece .next {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#powerup .powerup {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.game-block {
  background: url("fruits.jpg");
  color: black;
  width: 40px;
  height: 40px;
  background-size: 125px;
  position: absolute;
}

.big {
  background-size: 140px;
  cursor: pointer;
}

.red-apple {
  background-position: -9px -3px;
}

.red-apple.big {
  background-position: -12px -6px;
}

.green-apple {
  background-position: 38px -35px;
}

.green-apple.big {
  background-position: 41px -42px;
}

.cherry {
  background-position: -48px -34px;
}

.cherry.big {
  background-position: -57px -42px;
}

.strawberry {
  background-position: -9px 39px;
}

.strawberry.big {
  background-position: -12px 42px;
}

.kiwi {
  background-position: -9px -37px;
}

.kiwi.big {
  background-position: -13px -46px;
}

.orange {
  background-position: 41px 37px;
}

.orange.big {
  background-position: 44px 41px;
}

.banana {
  background-position: -47px 1px;
}

.banana.big {
  background-position: -55px -4px;
}

.perch {
  background-position: 42px 0px;
}

.perch.big {
  background-position: 45px -2px;
}

.melon {
  background-position: -48px 38px;
}

.melon.big {
  background-position: -56px 39px;
}

.hidden {
  visibility: hidden;
}

.scorePopup {
  position: absolute;
  color: black;
  visibility: hidden;
  font-size: 30px;
  color: #000;
  text-shadow: -1px 1px 8px #dd2, 1px -1px 8px #cc6;
}

#gamepad h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  text-shadow: -1px 1px 8px #dd2, 1px -1px 8px #cc6;
  opacity: 0;
}
